{% extends "::base.html.twig" %}

{% block title %}Welcome to my first Symfony Website{% endblock %}

{% block body %}
<h1>Welcome to the my Website: {{my_name|upper}}</h1>
<h2>My Son is : {{my_son}}</h2>
<h3>I live in : {{my_city}}</h3>
{% endblock %}
